@import url(./lgMedium.css);
@import url(./medium.css);
@import url(./smlMediam.css);

header, nav{
    max-width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.405);
    backdrop-filter: blur(5px);
    position: sticky;
    top: 0px;
    left: 0px;
    right: 0px;
}

.Menu{
    display: none;
}

.navList{
    display: flex;
}

.smallClass{
    display: flex;
}

.smallClassnone{
    display: none;
}

.smallClasslg{
    display: flex;
}

nav>div{
    max-width: 50%;
    height: 8vh;
    padding: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* background-color: aqua; */
}

nav>div>img{
    margin-left: 50px;
}

#mousePointer{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 2rem;
    height: 2rem;
    padding: 0px;
    background-color: rgba(89, 43, 43, 0);
    border: solid 0.05rem;
    border-radius: 50%;
    z-index: 1000 !important;
    pointer-events:none;
    display: none;
}
  
#innerPointer{
    width: 0.8rem;
    height: 0.8rem;
    background-color: rgba(0, 0, 0, 0.734);
    border: none;
    border-radius: 50%;
}

nav>div+div{
    /* width: 50%; */
    padding: 0px;
}

nav>div>img{
    max-width: 14%;
    height: auto;
}

.navList{
    font-size: 1rem;
}

.navList>a{
    font-size: 1em;
}

nav>div+div{
    justify-content: flex-end;
}

nav a{
    max-width: 6rem;
    height: auto;
    padding: 7px;
    margin-right: 15px;
    color: white;
    text-decoration: none;
}

nav a:hover {
    border: none;
    border-radius: 5px;
}

nav:hover #mousePointer{
    border-color: white;
}

nav:hover #innerPointer{
    background-color: rgba(255, 255, 255, 0.734);
}

nav a:hover~#mousePointer>#innerPointer{
    transform: scale(1.5,1.5);
    transition: all 1s;
}

nav a:first-child:hover{
    background-color: rgb(255, 0, 119) !important;
    box-shadow: 0px 0px 10px rgb(255, 0, 119);
}

nav a:first-child:hover~#mousePointer{
    border-color: rgb(255, 0, 119);
}

nav a:nth-child(2):hover{
    background-color: rgb(170, 0, 255) !important;
    box-shadow: 0px 0px 10px rgb(170, 0, 255);
}

nav a:nth-child(2):hover~#mousePointer{
    border-color: rgb(170, 0, 255);
}

nav a:nth-child(3):hover{
    background-color: rgb(0, 157, 255) !important;
    box-shadow: 0px 0px 10px rgb(0, 157, 255);
}

nav a:nth-child(3):hover~#mousePointer{
    border-color: rgb(0, 157, 255);
}

nav a:nth-child(4):hover{
    background-color: rgb(34, 255, 0) !important;
    box-shadow: 0px 0px 10px rgb(34, 255, 0);
}

nav a:nth-child(4):hover~#mousePointer{
    border-color: rgb(34, 255, 0);
}

nav a>img{
    width: 1.5rem;
    height: 1.5rem;
}


nav a:nth-child(6){
    width: fit-content;
    height: fit-content;
    padding: 0px;
}

.leftHeroSec{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
    /* background-color: aqua; */
    padding: 0px 50px;
}

.leftHeroSec>div{
    /* background-color: brown; */
    max-width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 100px;
    font-size: 3rem;
    color: rgb(46, 46, 46);
}


.leftHeroSec>div+div>img{
    max-width: 50%;
    max-height: 50%;
    z-index: -1;
    position: absolute;
    bottom: 12vh;
}

.leftHeroSec>div>h1{
    font-size: 1em;
    font-weight: bold;
}

.leftHeroSec>div>h2{
    font-size: 0.9em;
}

.leftHeroSec>div>h3{
    font-size: 0.4em;
}

.buttons{
    max-width: 100%;
    height: 50%;
    font-size: 2rem;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.buttons>button{
    max-width: 25%;
    max-height: 20%;
    color: white;
    padding: 10px;
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
    border-radius: 10px;
    border-top: solid 5px rgb(65, 65, 65);
    z-index: -1;
    text-shadow: 0px 0px 2px white;
}

.firstBtn{
    background-color: rgb(255, 0, 119);
    box-shadow: -5px 40px 50px rgb(255, 0, 119);
}


.secBtn{
    background-color: rgb(255, 230, 0);
    border-right: solid 5px rgb(65, 65, 65) !important;
    box-shadow: 10px 40px 50px rgb(255, 230, 0);
    transform: skew(5deg, 30deg);
    animation: secbtn 5s infinite linear 0s alternate;
}

.thirdBtn{
    background-color: rgb(0, 187, 255);
    box-shadow: 10px 40px 50px rgb(0, 187, 255);
}

.firstBtn, .thirdBtn{
    border-left: solid 5px rgb(65, 65, 65) !important;
    transform: skew(-5deg, -30deg);
    animation: allbtn 5s infinite linear 0s alternate;
}

@keyframes allbtn {
    from {
        transform: skew(-5deg, -30deg) translateY(0px);
    }
    to {
        transform: skew(-5deg, -30deg) translateY(10px);
    }
}

@keyframes secbtn{
    from {
        transform: skew(5deg, 30deg) translateY(10px);
    }
    to {
        transform: skew(5deg, 30deg) translateY(0px);
    }
}

.aboutSection{
    max-width: 100%;
    /* background-color: aqua; */
    height: auto;
    font-size: 2rem;
    padding: 150px 100px;
    text-align: justify;
    line-height: 100%;
}

.skillsSec{
    max-width: 100%;
    /* background-color: aqua; */
    max-height: auto;
    padding: 0px 50px;
    z-index: -1;
    font-size: 1.8rem;
}

.aboutSection>p{
    font-size: 0.5em;
}

.skillsSec h5{
    font-size: 1em;
}

.skillsSec>div{
    max-width: 100%;
    height: 50%;
    /* background-color: antiquewhite; */
}

.skillsSec>div>div{
    display: grid;
    max-width: 100%;
    max-height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1em;
    column-gap: 1em;
    padding: 3rem;
    /* background-color: red; */
    z-index: -1;
}

.skillsSec p{
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px;
    border-radius: 5px;
    padding: 2rem 0rem;
    font-size: 0.65em;
}

.skillsSec p>img{
    max-width: 25%;
    max-height: 100%;
}

@keyframes animateSkills {
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(5px);
    }
}

.projectSec{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 1rem;
    column-gap: 1rem;
    padding: 50px;
}

.projectContainers{
    max-width: 100%;
    max-height: auto;
    border: none;
    font-size: 1rem;
    border-radius: 5px;
    box-shadow: 0px 0px 1px black;
    padding: 0.5rem;
}

.projectContainers:hover{
    box-shadow: 0px 0px 1.9px black;
    transition: all 0.3s;
}

.projectContainers>div{
    max-width: 100%;
    max-height: 70%;
    border: none;
    border-radius: 5px;
    padding: 0.5em;
    background-color: rgb(238, 238, 238);
}

.projectContainers>div>img{
    height: 100%;
    border-radius: 5px;
}

/* .projectContainers>div>img:hover{
    transform: scale(1.05,1.05);
    transition: all 1s;
} */

.projectContainers>h3, .projectContainers p{
    text-align: left;
    padding: 0.5em;
    font-size: 1em;
    /* background-color: red; */
}

    
.projectContainers p{
    /* padding-top: 0px; */
    max-width: 100%;
    font-size: 0.9em;
    /* background-color: aqua; */
}

.projectContainers p+p{
    max-width: 20%;
    max-height: auto;
    display: flex;
    justify-content: flex-end;
    /* background-color: red; */

}

.projectContainers p+p>a{
    max-width: 100%;
    max-height: auto;
    margin-right: 10px;
    /* background-color: aqua; */
}

.ContactSec{
    max-width: 100%;
    height: 15vh;
    background-color: rgba(241, 241, 241, 0.623);
    padding:0px 50px;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    z-index: -1;
    font-size: 1rem;    
}

.ContactSec>div>a, .ContactSec>div img{
    max-width: 8%;
    max-height: 8%;
    margin-right: 10px;
}

.ContactSec>p{
    font-size: 1em;
}

.ContactSec a{
    text-decoration: none;
    color: blue;
    font-size: 1em;
}

.ContactSec>div:first-child>a{
    padding: 10px 20px;
    border: solid 1px;
    border-radius: 10px;
    background-color: transparent;
    color: rgb(0, 183, 255);
}

.ContactSec>div:first-child>a:hover{
    background-color: rgb(0, 183, 255);
    border: solid 1px transparent;
    border-radius: 10px;
    color: white;
    box-shadow: 0px 0px 10px rgb(0, 183, 255);
    transition: all 1s;
}

.HomeComponent, .HomeComponent>a{
    max-width: 3rem;
    max-height: 3rem;
    position: fixed;
    right: 2%;
    bottom: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(14, 254, 254, 0);
    border: none;
    border-radius: 50%;
    z-index: 0;
}

.HomeComponent img{
    max-width: 50%;
    max-height: 50%;
}

.HomeComponent:hover img{
    transform: translateY(-5px);
    transition: all 1s;
}

.leftHeroSec>div+div{
    max-width: 100%;
    max-height: 100%;
    position: relative;
    /* background-color: red; */
    z-index: -1;
}

.backgroundLayout{
    max-width: 100%;
    height: 50%;
    position: absolute;
    z-index: -1;
    /* background-color: aqua; */
}

.backgroundLayout>img{
    max-width: 15%;
    max-height: 30%;
    opacity: 0.3;
    z-index: -1;
    filter:grayscale(100%);
    position: relative;
    top: -10%;
    left: -20%; 
    /* box-shadow: 0px 20px 10px rgb(0, 213, 255); */
}

.backgroundLayout>img+img{
    max-width: 10%;
    max-height: 20%;
    top: -15%;
    left: -10%
}

.backgroundLayout>img+img+img{
    max-width: 6%;
    max-height: 11%;
    top: 20%;
    left: 35%;
}

.backgroundLayout>img+img+img+img{
    max-width: 5%;
    max-height: 10%;
    top: 40%;
    left: 35%;
}

.backgroundLayout>img+img+img+img+img{
    max-width: 5%;
    max-height: 10%;
    top: 60%;
    left: 33%;
}

.backgroundLayout>img+img+img+img+img+img{
    max-width: 10%;
    max-height: 25%;
    top: -8%;
    left: -15%;
}

.backgroundLayout>img+img+img+img+img+img+img{
    max-width: 10%;
    max-height: 25%;
    top: 5%;
    left: -5%;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    cursor: pointer;
    color: white;
}

.modal-content {
    max-width: 50%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(50px);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    text-align: center;
    transition: all 0.3s ease;
    z-index: 999;
    cursor: pointer;
}

.modal-content>div{
    padding: 5px;
    height: auto;
    text-align: left;
    z-index: 999;
    cursor: pointer;
}

.modal-content h4 {
    margin-bottom: 20px;
    cursor: pointer;
}

.close-btn {
    padding: 10px 20px;
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.close-btn:hover {
    background-color: #ff3333;
}

.submit-btn{
    padding: 10px 20px;
    background-color: #4d7fff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.submit-btn:hover{
    background-color: #4d50ff;
}

form>div{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px 0px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 0.5fr 1fr;
    cursor: pointer;
}

.modal-content>div{
    cursor: pointer;
}

.modal-content>p+div+div{
    display: flex;
    justify-content: flex-end;
}

.modal-content>p+div+div>button{
    background-color: transparent;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
    color: white;
    border: none;
    text-decoration: underline;
}

.modal-overlay p, label, label>b{
    cursor: pointer;
}

input, textarea{
    max-width: 400px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 17px;
    padding: 5px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

textarea{
    resize: none;
}

input{
    height: 2rem;
}
textarea{
    height: 5rem;
}
