@media only screen and (min-width:960px) and (max-width:1130px){

    .leftHeroSec>div>h1{
        font-size: 0.8em !important;
    }

    nav>div>img{
        max-width: 24% !important;
    }
    
    .leftHeroSec>div>h2{
        font-size: 0.7em !important;
    }
    
    .leftHeroSec>div>h3{
        font-size: 0.3em !important;
    }

    .buttons>button{
        font-size: 0.8rem !important;
    }

    .projectContainers p+p{
        max-width: 25% !important;
    }

    .skillsSec h5{
        font-size: 0.9em !important;
    }
    
    .skillsSec p{
        font-size: 0.5em !important;
    }
}